body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    padding-bottom: 20px;
}
h1{
    text-align: center;
    font-size: 20px;
}
header h1{
    color:dodgerblue;
    text-align: center;
    font-size: 40px;
}

section{
    margin: 0 auto;
    padding: 0 45px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}
/* image part */
.left-half{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-half img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

/* input field or right part */
.input{
    display: flex;
    justify-content: center;
}
.input-title{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 10px;
}
.input-field{
    width: 200px;
    padding: 10px;
    border: none;
    background-color:rgb(200, 211, 219);
    outline: 0;
    font-size: 18px;
    margin: 5px;
}
/* expances field */
.expences-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input.expences{
    display: flex;
    justify-content: end;
}

/* .calculation-field */
.calculation-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: dodgerblue;
    padding: 10px 20px;
    border-radius: 5px;
    color: antiquewhite;
    cursor: pointer;
}
.calculation-field p{
    font-size: 20px;
}

/* saving-field */
.saving-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.saving-input-field{
    display: flex;
    justify-content: center;
    align-items: center;
}
.saving-input-field .input-field{
    width: 50px;
}

/* mobile responsive */
@media(max-width: 688px){
    section{
        
        padding: 0 45px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }

}